/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VIEWPORT SETTINGS */

.wrapper {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%,
        #dcdcdc 20%,
        #dcdcdc 100%
    );
}

/* Debug */

.app-container * {
    /* border: 1px solid black; */
}

/* COMMON */

i {
    font-size: 1.5rem;
}

body {
    font-family: sans-serif;
}

.left-sidebar .header img, .contact-item img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 1rem;
}

/* MAIN */

.app-container {
    display: flex;
    position: relative;
    top: 2.5%;
    left: 10%;
    width: 80%;
    height: 95%;
    background-color: gray;
}

/* Sidebar sinistra */

.left-sidebar {
    width: 30%;
    /* Debug */
    background-color: white;
}

/* Header sinistro */

.left-sidebar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: #eaeaea;
}

.left-sidebar .header ul {
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
    list-style-type: none;
}

.left-sidebar .header li {
    color: grey;
}

/* Notifiche */

.left-sidebar .notification {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 10%;
    background-color: #8edafc;
}

.notification-text h4 {
    margin-bottom: 5px;
}

.notification-text span {
    color: gray;
    text-decoration: underline;
}

.notification .bell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bell i {
    color: #8edafc;
}

/* Casella di ricerca */

.search-bar {
    display: flex;
    align-items: center;
    height: 5%;
    background-color: #fafafa;
}

.search-control {
    margin: 0 auto;
    background-color: white;
    width: 95%;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-search {
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(196, 196, 196);
}

.search-bar input {
    width: 70%;
    outline: none;
    border: none;
}

/* Contatti */

.contacts {
    list-style-type: none;
    height: 75%;
    overflow-y: auto;
}

.contact-item {
    display: flex;
    align-items: center;
    height: calc(100% / 7);
    border-bottom: 1px solid rgb(237, 237, 237);
}

.contact-content {
    margin-left: 1rem;
    width: 60%;
}

.contact-name {
    margin-bottom: 2px;
}

.recent-text {
    font-size: .8rem;
    color: gray;
    opacity: .5;
}

.recent-text-time {
    position: relative;
    top: -15px;
    color: lightgray;
    font-size: .7rem;
}

/* Sidebar destra */

.right-sidebar {
    width: 70%;
}

@media screen and (max-width: 855px) {
    .left-sidebar .notification, .left-sidebar .contact-content, .left-sidebar .recent-text-time {
        display: none;
    }
}

/* Tablet */

@media screen and (max-width: 540px) {
    .app-container {
        position: static;
        width: 100%;
        height: 100%;
    }

    .left-sidebar {
        width: 15%;
    }

    .left-sidebar .header .actions, .left-sidebar .search-bar {
        display: none;
    }
    
    .left-sidebar .header, .left-sidebar .contact-item {
        justify-content: center;
    }

    .left-sidebar .header img, .left-sidebar .contact-item img {
        margin: 0;
    }

    .right-sidebar {
        width: 85%;
    }
}

/* Mobile */

@media screen and (max-width: 504px) {
    .left-sidebar {
        display: none;
    }

    .right-sidebar {
        width: 100%;
    }
}