/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gra;
}

/* VIEWPORT SETTINGS */

.wrapper {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%,
        #dcdcdc 20%,
        #dcdcdc 100%
    );
}

/* MAIN */

.container {
    position: absolute;
    top: 2.5%;
    left: 15%;
    width: 70%;
    height: 95%;
    background-color: gray;
}